services:
  - type: psql
    name: student-db
    region: frankfurt
    plan: free

  - type: web
    name: student-record-app
    region: frankfurt
    plan: free
    env: java
    build:
      command: "mvn clean package"
    start:
      command: "java -jar target/StudentRecordManagement-0.0.1-SNAPSHOT.jar"
    envVars:
      - key: spring.jpa.hibernate.ddl-auto
        value: update
      - key: spring.datasource.url
        fromService:
          type: psql
          name: student-db
          property: internalDatabaseUrl
      - key: spring.datasource.username
        fromService:
          type: psql
          name: student-db
          property: user
      - key: spring.datasource.password
        fromService:
          type: psql
          name: student-db
          property: password